* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

body {
    background: #ddd;
}

main {
    width: 80%;
    max-width: 1000px;
    background: rgb(255,255,230);
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 15px;
    gap: 20px;
}

aside img {
    width: 100%;
}

header {
    background-image: url("kepek/fejlec.jpg");
    background-size: cover;
    background-position: center;
    height: 550px;
    opacity: 0.8;
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header h1 {
    margin-top: 60px;
    color: red;
    font-weight: bold;
    font-family: cursive;
    font-size: 40px;
    text-align: center;
}

nav {
    background: red;
    height: 50px;
}

nav ul {
    list-style: none;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

nav li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px;
    text-align: center;
}

nav li:hover {
    background: green;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

article h2 {
    font-size: 15px;
    color: #ff1a1a;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-bottom: 10px;
}

article p {
    text-align: justify;
    font-size: 10px;
    margin-bottom: 10px;
}

article img {
    float: right;
    width: 180px;
    margin: 0 0 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px #666;
}


footer {
    text-align: center;
    padding: 10px;
}


@media (max-width: 700px) {

    main {
        grid-template-columns: 1fr;
    }


    article {
        order: 1;
    }

    aside {
        order: 2;
        display: flex;
        gap: 10px;
    }

    aside img {
        width: 50%;
    }
}
