* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(kepek/hatter.jpg);
    font-family: Arial, sans-serif;
}

#page {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

header {
    background-image: url("kepek/fejlec.jpg");
    background-position: center top;
    background-size: cover;
    height: 550px;
    opacity: 0.8;

    display: flex;
    justify-content: center;
    align-items: flex-start;
}

header h1 {
    margin-top: 60px;
    color: red;
    font-size: 60px;
    font-family: cursive;
    font-weight: bold;
    text-align: center;
}

nav {
    background: red;
    height: 50px;
    display: flex;
    justify-content: center;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}

nav li {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 5px 20px;
}

nav li:hover {
    background: green;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    background: rgb(255,255,230);
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 250px 1fr; 
    gap: 20px;
    padding: 20px;
}

aside img {
    width: 100%;
    margin-bottom: 12px;
}

article h2 {
    font-size: 15px;
    color: #ff1a1a;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-bottom: 10px;
}

article p {
    text-align: justify;
    font-size: 10px;
    margin-bottom: 8px;
}

article img {
    float: right;
    width: 200px;
    margin-left: 10px;
    border-radius: 12px;
    box-shadow: 0 0 12px #666;
}

footer {
    text-align: right;
    padding: 10px;
    font-size: 14px;
    
}

@media (max-width: 700px) {

    main {
        grid-template-columns: 1fr;
    }

    article {
        order: 1;
    }

    aside {
        order: 2;
        display: flex;
        justify-content: space-between;
    }

    aside img {
        width: 48%;
    }
}
